<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="testcomponents.Listner"></listener>
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<!--<class name="testcases.HashMapDataProviderLoginTC_10_11_12_13_14"/>-->
			<!--<class name="testcases.HashMapDataProviderSignUpTC_02_03_04_05_06_07"/>-->
			<!--<class name="testcases.Login_TC09_TC15"/>-->
			<!--<class name="testcomponents.Login"/>-->
			<!-- <class name="pageresponsetime.SignUpPage"/>-->
			<!--<class name="testcases.ProjectListing"/>-->
			<!--<class name="pageresponsetime.ProjectListingPage"/>-->
			<!-- <class name="pageresponsetime.ProjectDetailsPage"/>-->
			<class name="testcases.ProjectDetails" />
			<!--<class name="testcomponents.SignUp"/>-->
			<!-- <class name="pageresponsetime.LoginPage"/>-->
			<!--<class name="testcases.SignUpTC_01"/>-->
			<!--<class name="testcomponents.CreateProject"/>-->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
